<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>index: PetClinic</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Dr. Shawn's Pet Clinic</h1>
    </header>
    <main>
        <img src="golden-retriever.jpeg" alt="Happy Golden Retriever">
        <p>Your pet's health is our priority! Visit us for the best veterinary care.</p>
    </main>
    <footer>
        <p>Contact us at: <a href="mailto:drshawn@petclinic.com">DrShawn@PetClinic.com</a></p>
        Edit to trigger Jenkins job
    </footer>
</body>
</html>